{% extends "base.html" %}

    {% block title %}
	MINET X Dashboard
    {% endblock %}

    {% block content %}

	<h1> MINET X </h1>

	<h2> Hi, {{ currSchool.name }}. </h2>

	<h2> Current capital: {{ currSchool.currCap }} </h2>

	<p> 
	Genii currently employed: 
	{% if genList %}
	    {% for gen in genList %}
		{{ gen.name }},
	    {% endfor %}
	{% else %}
	None
	{% endif %}
	</p>

	<form id="request_genius" method="post" action="/xdashboard/home/">    
	    {% csrf_token %}
	    <input type="submit" name="request genius" value="Request Genius" />
	</form>

	<p> &#169 MINET 2014 </p>

	{% endblock %}
