{% extends "base.html" %}

    {% block title %}
	MINET X - Product Panel
    {% endblock %}

    {% block content %}

	<h1> Product Panel </h1>

	<h2> Products up for acquisition </h2>

	<table style="width:300px">

	<tr>
	    <th> School </th>
	    <th> Name </th>
	    <th> Details </th>
	    <th> Cost </th>
	</tr>

	{% for prod in prodList %}
	<tr>
	    <td> {{ prod.school.name }} </td>
	    <td> {{ prod.name }} </td>
	    <td> {{ prod.descr }} </td>
	    <td> {{ prod.cost }} </td> 
	</tr>
	{% endfor %}

	</table> 

	<h2> Your products </h2>

	<table style="width:300px">

	<tr>
	    <th> Name </th>
	    <th> Details </th>
	    <th> Cost </th>
	    <th> Up for acquisition? </th>
	</tr>

	{% for prod in ownProdList %}
	<tr>
	    <td> {{ prod.name }} </td>
	    <td> {{ prod.descr }} </td>
	    <td> {{ prod.cost }} </td>
	    {% if prod.upForAcq == True %}
	        <td> Yes </td>
	    {% else %}
	        <td> No </td>
	    {% endif %}
	</tr>
	{% endfor %}

	</table>

	<h2> Add product </h2>

	<form id="prod_form" method="post" action="/xdashboard/products/">

	    {% csrf_token %}

	    {{ prod_form.as_p }}

	    <input type="submit" name="submit" value="Submit" />

	</form>

    {% endblock %}
